<section>
<!--   <h1>Classy Footer</h1>
  <h3>Hover over the circle below</h3> -->
</section>
<div class="footer">
  <div id="button"></div>
<div id="container">
<div id="cont">
<div class="footer_center">
     <h3>This cocktail list was made by Valentin Fage</h3>
</div>
</div>
</div>
</div>
