<nav>
  <ul>
    <li>
      <a href="/cocktails">Cocktails</a>
    </li>
    <li>
      <a href="/cocktails/new">New</a>
    </li>
    <li>
      <a href="/cocktails/ingredients">Ingredients</a>
      </li>
  </ul>
</nav>



<!--     <li><img src="http://www.pablogarciafernandez.com/images/svg/side-navigation-menu_about.svg" alt="New"><a href="/cocktails/new">New</a></li>
    <li><img src="http://www.pablogarciafernandez.com/images/svg/side-navigation-menu_work.svg" alt="Work"><a href="#">Ingredient</a></li>
  </ul></nav> -->
